.env
.idea/
.vs/
logs/
.artifacts/
**/bin/
**/obj/
**/TestResults/
*.csproj.user
*.csproj.user.Backup.tmp
**/Properties/PublishProfiles/
**/Properties/ServiceDependencies/
**/Properties/serviceDependencies*.json
